html,body {
	margin: 0;
	padding: 0;
	background-image: url("images/4k-mountain.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Arial;
	text-align: center;
	font-size: 175%;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
h1 {
	color: darkblue;
}
