html,body {
	background-image: url("images/4k-mountain.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Arial;
	height: 100%;
	width: 100%;
	font-size: 125%;
	overflow-x: hidden;
	overflow-y: auto;
}
h1 {
	color: darkblue;
}
